{% extends 'base.html.twig' %}

{% block title %}AskForAdoption{% endblock %}

{% block body %}
    <h1>AskForAdoption</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ask_for_adoption.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ ask_for_adoption.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ ask_for_adoption.lastname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ ask_for_adoption.address }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ ask_for_adoption.zipcode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ ask_for_adoption.city }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ ask_for_adoption.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ ask_for_adoption.phone }}</td>
            </tr>
            <tr>
                <th>PhoneBis</th>
                <td>{{ ask_for_adoption.phoneBis }}</td>
            </tr>
            <tr>
                <th>FacebookProfile</th>
                <td>{{ ask_for_adoption.facebookProfile }}</td>
            </tr>
            <tr>
                <th>GardenAera</th>
                <td>{{ ask_for_adoption.gardenAera }}</td>
            </tr>
            <tr>
                <th>IsClotured</th>
                <td>{{ ask_for_adoption.isClotured ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ClotureDetails</th>
                <td>{{ ask_for_adoption.clotureDetails }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ ask_for_adoption.age }}</td>
            </tr>
            <tr>
                <th>AgeChildren</th>
                <td>{{ ask_for_adoption.ageChildren }}</td>
            </tr>
            <tr>
                <th>Job</th>
                <td>{{ ask_for_adoption.job }}</td>
            </tr>
            <tr>
                <th>PartnerJob</th>
                <td>{{ ask_for_adoption.partnerJob }}</td>
            </tr>
            <tr>
                <th>AllergyDetails</th>
                <td>{{ ask_for_adoption.allergyDetails }}</td>
            </tr>
            <tr>
                <th>DogDetails</th>
                <td>{{ ask_for_adoption.dogDetails }}</td>
            </tr>
            <tr>
                <th>CatDetails</th>
                <td>{{ ask_for_adoption.catDetails }}</td>
            </tr>
            <tr>
                <th>SterilizedDetail</th>
                <td>{{ ask_for_adoption.sterilizedDetail }}</td>
            </tr>
            <tr>
                <th>Veterinary</th>
                <td>{{ ask_for_adoption.veterinary }}</td>
            </tr>
            <tr>
                <th>LonelyHoursDay</th>
                <td>{{ ask_for_adoption.lonelyHoursDay }}</td>
            </tr>
            <tr>
                <th>LonelyHoursMorning</th>
                <td>{{ ask_for_adoption.lonelyHoursMorning }}</td>
            </tr>
            <tr>
                <th>LonelyHoursAfternoon</th>
                <td>{{ ask_for_adoption.lonelyHoursAfternoon }}</td>
            </tr>
            <tr>
                <th>LonelyHoursEvening</th>
                <td>{{ ask_for_adoption.lonelyHoursEvening }}</td>
            </tr>
            <tr>
                <th>DaysByWeek</th>
                <td>{{ ask_for_adoption.daysByWeek }}</td>
            </tr>
            <tr>
                <th>DogHousing</th>
                <td>{{ ask_for_adoption.dogHousing }}</td>
            </tr>
            <tr>
                <th>NightHousingDog</th>
                <td>{{ ask_for_adoption.nightHousingDog }}</td>
            </tr>
            <tr>
                <th>WhoIsCarring</th>
                <td>{{ ask_for_adoption.whoIsCarring }}</td>
            </tr>
            <tr>
                <th>DogWalkingPrevisional</th>
                <td>{{ ask_for_adoption.dogWalkingPrevisional }}</td>
            </tr>
            <tr>
                <th>Motivation</th>
                <td>{{ ask_for_adoption.motivation }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ ask_for_adoption.note }}</td>
            </tr>
            <tr>
                <th>KnowingAmi</th>
                <td>{{ ask_for_adoption.knowingAmi }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ask_for_adoption_index') }}">back to list</a>

    <a href="{{ path('ask_for_adoption_edit', {'id': ask_for_adoption.id}) }}">edit</a>

    {{ include('ask_for_adoption/_delete_form.html.twig') }}
{% endblock %}
